body{
 background:url(./image.jpg)
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    margin: 0;
    font-family: Verdana, Tahoma, sans-serif;

}
